:root {
  --_cmp-default---white: white;
  --_cmp-default---text-color: #252525;
  --_cmp-default---primary-color: #141a44;
  --_cmp-default---black: black;
  --_cmp-default---secondary-color: #3cb458;
  --section-margin: 50px;
  --standard-margin-tablet: 30px;
  --standard-margin: 24px;
  --_cmp-default---primary-button: #3cb458;
  --_cmp-default---primary-button-hover: #359c4d;
  --_cmp-default---gray-background: #fafafa;
  --_cmp-default---primary-link-color: #08c;
}

.body {
  background-color: var(--_cmp-default---white);
  color: var(--_cmp-default---text-color);
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.content-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-content {
  color: var(--_cmp-default---primary-color);
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}

.logo-container {
  width: 350px;
}

.header-tfn {
  color: var(--_cmp-default---primary-color);
  text-align: right;
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
}

.header-tfn:hover {
  color: var(--_cmp-default---black);
}

.header-subheading {
  color: var(--_cmp-default---secondary-color);
  text-align: right;
  width: 100%;
  margin-top: .25em;
  font-size: 22px;
  font-weight: 700;
}

.header-hours {
  text-align: right;
  width: 100%;
  margin-top: .25em;
  font-size: 20px;
  font-weight: 300;
}

.hero {
  background-image: url('../images/1f9f26ed96ba.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 150%;
  height: 350px;
}

.main-content {
  margin-top: var(--section-margin);
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content-heading {
  margin-bottom: var(--standard-margin);
  color: var(--_cmp-default---primary-color);
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
}

.content-heading.centered {
  text-align: center;
}

.content-list {
  margin-top: 1em;
}

.content-list-item {
  margin-top: .5em;
}

.cta {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta.margin-bottom {
  margin-bottom: 40px;
}

.cta-button {
  background-color: var(--_cmp-default---primary-button);
  color: var(--_cmp-default---white);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: .5em 2em;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
}

.cta-button:hover {
  background-color: var(--_cmp-default---primary-button-hover);
  color: var(--_cmp-default---white);
  text-decoration: none;
}

.cta-button.top {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 18px;
}

.cta-heading {
  color: var(--_cmp-default---primary-color);
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.cta-heading.light {
  color: var(--_cmp-default---white);
}

.cta-hours {
  color: var(--_cmp-default---primary-color);
  font-size: 16px;
}

.cta-hours.light {
  color: var(--_cmp-default---white);
}

.dark-section {
  background-color: var(--_cmp-default---gray-background);
}

.centered-content-heading {
  color: var(--_cmp-default---primary-color);
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
}

.centered-content-heading.white {
  color: var(--_cmp-default---white);
}

.content-bullets {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  display: flex;
}

.content-bullet-item {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-bullet-content {
  width: 300px;
  padding-top: .25em;
  padding-left: .5em;
}

.sub-content-heading {
  color: var(--_cmp-default---primary-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 110%;
}

.content-bullet-text {
  margin-top: 10px;
}

.content-bullet-icon, .image {
  width: 38px;
}

.text-centered {
  text-align: center;
  max-width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.what-is-ma {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.panel-img {
  width: 40%;
}

.panel-img.right {
  text-align: right;
}

.panel-content {
  width: 50%;
}

.sub-content-text {
  margin-top: 20px;
}

.how-ms-helps {
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.div-block-2 {
  width: 40%;
}

.div-block-3 {
  width: 50%;
}

.footer {
  justify-content: space-between;
  display: flex;
}

.footer-disclosures {
  width: 60%;
  font-size: 14px;
}

.footer-logo {
  text-align: right;
  width: 30%;
}

.footer-logo-img {
  width: 250px;
}

.div-block-4 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block-5 {
  width: auto;
}

.image-2 {
  width: 300px;
}

.div-block-6 {
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.text-block-2 {
  margin-left: 5px;
  font-size: 16px;
}

.text-block-3 {
  color: var(--_cmp-default---primary-color);
  font-weight: 900;
}

.button {
  background-color: var(--_cmp-default---primary-button);
  text-align: center;
  min-width: 150px;
  padding: 10px 20px;
  font-weight: 700;
  transition: all .2s;
}

.button:hover {
  background-color: var(--_cmp-default---primary-button-hover);
  color: var(--_cmp-default---white);
  text-decoration: none;
}

.button.full {
  width: 100%;
}

.div-block-7 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.text-block-4 {
  font-weight: 300;
}

.div-block-8 {
  background-color: #f5f5f5;
  padding-top: 40px;
}

.div-block-9 {
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block-5 {
  color: #16792c;
  font-size: 24px;
  font-style: italic;
  line-height: 120%;
}

.text-block-6 {
  color: var(--_cmp-default---primary-color);
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: 900;
  line-height: 110%;
}

.div-block-10 {
  width: 50%;
}

.div-block-11 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.text-block-7 {
  color: var(--_cmp-default---primary-color);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 100%;
}

.button-2 {
  background-color: var(--_cmp-default---primary-button);
  color: var(--_cmp-default---white);
  text-align: center;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
}

.button-2:hover {
  background-color: var(--_cmp-default---primary-button-hover);
  color: var(--_cmp-default---white);
  text-decoration: none;
}

.div-block-12 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.text-block-8 {
  margin-top: 10px;
}

.text-block-9 {
  margin-top: 5px;
}

.list-item {
  margin-top: 20px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.div-block-13 {
  background-color: var(--_cmp-default---primary-color);
  color: var(--_cmp-default---white);
}

.text-block-10.margin-top {
  margin-top: 20px;
}

.text-block-10.margin-top.centered {
  text-align: center;
}

.div-block-14 {
  background-color: #fafafa;
}

.div-block-15 {
  width: 30%;
}

.text-block-11 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.div-block-16, .code-embed {
  margin-top: 20px;
}

.div-block-17 {
  margin-top: 20px;
  display: block;
}

.div-block-18 {
  background-color: var(--_cmp-default---white);
  border-radius: 30px;
  padding: 40px;
}

.div-block-19 {
  display: flex;
}

.image-3 {
  margin-top: 20px;
}

.div-block-20 {
  background-color: #f5f5f5;
}

.div-block-21 {
  background-image: linear-gradient(90deg, #f5f5f5 40%, #0000 60%), url('../images/dba3ee25afea.webp');
  background-position: 0 0, 200%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
  display: flex;
}

.div-block-21.man-with-child {
  background-image: linear-gradient(90deg, #f5f5f5 40%, #0000 60%), url('../images/c85b68cb1587.webp');
}

.div-block-22 {
  background-image: url('../images/dba3ee25afea.webp');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  min-height: 400px;
  display: flex;
}

.div-block-23 {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.div-block-25 {
  display: none;
}

.div-block-26 {
  background-color: var(--_cmp-default---primary-color);
  color: var(--_cmp-default---white);
}

.div-block-27 {
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.div-block-28 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.div-block-29 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.margin-top {
  margin-top: 20px;
}

.div-block-30 {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hero {
    background-position: 50%;
    background-size: 125%;
    height: 450px;
  }
}

@media screen and (min-width: 1920px) {
  .button {
    text-align: center;
  }

  .button:hover {
    color: var(--_cmp-default---white);
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .body {
    line-height: 26px;
  }

  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-content {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .logo-container {
    width: 250px;
  }

  .header-tfn {
    font-size: 24px;
  }

  .header-subheading {
    font-size: 20px;
  }

  .header-hours {
    font-size: 16px;
  }

  .hero {
    background-position: 50%;
    background-size: 160%;
    height: 225px;
  }

  .main-content {
    margin-top: var(--standard-margin-tablet);
    max-width: 100%;
  }

  .content-heading {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
  }

  .cta-button {
    font-size: 20px;
  }

  .cta-button.top {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 16px;
  }

  .cta-heading {
    font-size: 22px;
    line-height: 28px;
  }

  .centered-content-heading {
    font-size: 28px;
  }

  .content-bullets {
    flex-flow: column;
    margin-top: 20px;
  }

  .content-bullet-item {
    width: 100%;
    margin-top: 1em;
  }

  .content-bullet-item.first {
    margin-top: 0;
  }

  .content-bullet-content {
    width: 100%;
    padding-top: 0;
  }

  .sub-content-heading {
    font-size: 20px;
  }

  .content-bullet-text {
    margin-top: 5px;
  }

  .content-bullet-icon {
    width: 32px;
  }

  .what-is-ma {
    margin-top: var(--standard-margin-tablet);
  }

  .how-ms-helps {
    margin-top: var(--standard-margin-tablet);
    margin-bottom: var(--standard-margin-tablet);
  }

  .footer {
    flex-flow: column;
  }

  .footer-disclosures {
    order: 1;
    width: 100%;
    margin-top: 20px;
  }

  .footer-logo {
    text-align: center;
    width: 100%;
  }

  .footer-logo-img {
    width: 180px;
  }

  .div-block-4 {
    padding: 10px;
  }

  .image-2 {
    width: 200px;
  }

  .text-block-4 {
    font-size: 16px;
  }

  .div-block-8 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-5 {
    font-size: 20px;
  }

  .text-block-6 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
  }

  .div-block-10 {
    padding-right: 40px;
  }

  .button-2 {
    padding: 15px 35px;
    font-size: 22px;
  }

  .div-block-12, .text-block-10, .text-block-10.margin-top {
    margin-top: 20px;
  }

  .div-block-15 {
    width: 50%;
  }

  .text-block-11 {
    font-size: 20px;
  }

  .div-block-21 {
    background-position: 0 0, 475%;
  }

  .div-block-21.man-with-child {
    background-position: 0 0, 250%;
  }

  .div-block-23 {
    padding: 20px 0 20px 20px;
  }

  .div-block-25 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .body {
    font-size: 16px;
  }

  .content-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo-container {
    width: 200px;
  }

  .header-tfn {
    font-size: 18px;
  }

  .header-subheading {
    margin-top: 0;
    font-size: 16px;
  }

  .header-hours {
    margin-top: 0;
    font-size: 14px;
  }

  .hero {
    height: 175px;
  }

  .content-heading {
    font-size: 24px;
    line-height: 30px;
  }

  .cta-button {
    font-size: 18px;
  }

  .cta-heading {
    font-size: 18px;
    line-height: 24px;
  }

  .centered-content-heading {
    font-size: 20px;
  }

  .sub-content-heading {
    font-size: 18px;
    line-height: 24px;
  }

  .what-is-ma {
    flex-flow: column;
  }

  .panel-img {
    width: 65%;
  }

  .panel-content {
    margin-top: var(--standard-margin-tablet);
    flex: 0 auto;
    order: 1;
    width: 100%;
  }

  .how-ms-helps {
    flex-flow: column;
  }

  .footer-logo-img {
    width: 150px;
  }

  .image-2 {
    width: 175px;
  }

  .text-block-3 {
    line-height: 24px;
  }

  .div-block-8 {
    padding-bottom: 20px;
  }

  .div-block-9 {
    flex-flow: column;
  }

  .text-block-5 {
    font-size: 18px;
  }

  .text-block-6 {
    font-size: 28px;
  }

  .div-block-10 {
    width: 100%;
    padding-right: 0;
  }

  .button-2 {
    padding: 10px 20px;
    font-size: 18px;
  }

  .text-block-9 {
    margin-top: 0;
  }

  .text-block-10.margin-top.centered {
    text-align: left;
  }

  .div-block-15 {
    width: 100%;
  }

  .div-block-18 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .div-block-21 {
    background-image: linear-gradient(90deg, #f5f5f5 40%, #0000 60%);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .div-block-21.man-with-child {
    background-image: none;
    background-position: 0 0;
  }

  .div-block-23 {
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-24 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-25 {
    display: flex;
  }

  .div-block-30 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body {
    line-height: 24px;
  }

  .header-content {
    flex-flow: column;
  }

  .logo-container {
    width: 175px;
  }

  .header-text-container {
    margin-top: .25em;
  }

  .header-tfn {
    font-size: 18px;
  }

  .header-subheading {
    text-align: center;
    margin-top: 0;
    font-size: 17px;
  }

  .header-hours {
    text-align: center;
    font-size: 16px;
  }

  .text-block {
    text-align: center;
  }

  .hero {
    background-size: 250%;
    height: 150px;
  }

  .main-content {
    margin-top: 25px;
  }

  .content-heading {
    text-align: left;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 28px;
  }

  .cta-button {
    margin-top: 12px;
    font-size: 16px;
  }

  .cta-button.top {
    margin-bottom: 5px;
  }

  .cta-heading {
    font-size: 18px;
    line-height: 22px;
  }

  .centered-content-heading {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .content-bullets {
    margin-top: 20px;
  }

  .content-bullet-content {
    padding-top: .125em;
  }

  .sub-content-heading {
    text-align: left;
    font-size: 17px;
    line-height: 22px;
  }

  .content-bullet-icon {
    width: 28px;
  }

  .text-centered {
    text-align: left;
  }

  .what-is-ma {
    margin-top: 25px;
  }

  .panel-img {
    width: 100%;
  }

  .how-ms-helps {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .div-block-4 {
    flex-flow: column;
  }

  .div-block-6 {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .text-block-2 {
    font-size: 14px;
  }

  .text-block-3 {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

  .button {
    min-width: 50%;
  }

  .div-block-7 {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .text-block-4 {
    font-size: 14px;
  }

  .text-block-5 {
    font-size: 16px;
  }

  .text-block-6 {
    font-size: 24px;
  }

  .text-block-11 {
    font-size: 18px;
  }

  .div-block-19 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .div-block-23 {
    padding-top: 10px;
  }

  .div-block-27 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .div-block-28 {
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
}


